.main-input{
    width: 530px;
    margin: 0 auto; /*Se asegura que nuestros elementos esten centrados*/
    margin-bottom: 35px;
}

.main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 3px solid #957dad;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-input-container input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none; /*No encienda cuando estemos sobre el*/
    background-color: #e0bbe4;
}
.main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
}

.searh-icon{
    background-image: url("https://cdn-icons-png.flaticon.com/512/107/107122.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px; 
    height: 18px;
    margin: 10px;
}