.contenedor{
    display: flex;
    justify-content: center;
}

.boton{
    width:45px;
    height:45px;
    background-color: #957dad;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 973px;*/
}
.boton:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
}

.burguer{
width: 32px; height: 32px;
margin-top: 30px;
text-align: center;
display: inline-block;
margin:0 auto;
}

.space{
    margin-left: .2rem;
    margin-bottom: 1rem;
}