.item{
        width: 425px;
        margin-top: 10px;
        border-radius: 10px;
        border: 3px solid #957dad;
        display: flex;
}

.textito{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}