h1 {
    text-align:center;
    padding:8px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font: optional;
    margin-right: 5px;
    color: #957dad;
}